@page "/"

@inherits IndexBase

<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half-desktop">
                <div class="title">
                    Note application
                </div>
                <div class="subtitle">
                    Example how to use nested component in page and ef core with blazorish
                </div>
                <button class="button is-primary"
                        @onclick="() => Dispatch(new IndexMsg.TryAddNote())">
                    Add note
                </button>
                @foreach (var noteCardModel in Model.NoteCardModels)
                {
                    <NoteCard NoteCardModel="noteCardModel"
                              NestedDispatch="model => Dispatch(new IndexMsg.TryUpdateNote(model))"/>
                }
            </div>
        </div>
    </div>
</div>
